<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1>Política de Privacidad</h1>
    <ul>
      <li><a href="#informacion_basica">Información básica sobre protección de datos</a></li>
      <li><a href="#responsable_tratamiento">Responsable del tratamiento</a></li>
      <li><a href="#identificacion_tratamiento">Identificación de la actividad de tratamiento</a></li>
      <li><a href="#finalidad">Finalidad</a></li>
      <li><a href="#base_juridica">Base jurídica del tratamiento</a></li>
      <li><a href="#destinatarios_datos">Destinatarios de los datos</a></li>
      <li><a href="#transferencias_internacionales">Transferencias internacionales de datos</a></li>
      <li><a href="#conservacion_datos">Conservación de datos</a></li>
      <li><a href="#derechos_interesados">Derechos de los interesados</a></li>
    </ul>
    <p>
      A través de este sitio web no se recaban datos de carácter personal de los usuarios sin su conocimiento.
    </p>
    <p>
      El portal del que es titular el Ayuntamiento de Córdoba contiene enlaces a sitios web de terceros, cuyas políticas de privacidad son ajenas a la del Ayuntamiento de Córdoba. Al acceder a tales sitios web usted puede decidir si acepta sus políticas de privacidad y de cookies. Con carácter general, si navega por internet usted puede aceptar o rechazar las cookies de terceros desde las opciones de configuración de su navegador.
    </p>
    <p>
      La navegación por la información disponible en el Portal de Participación Ciudadana del Ayuntamiento de Córdoba es anónima.
    </p>
    <p>
      Para utilizar los servicios contenidos en el Portal de Participación Ciudadana del Ayuntamiento de Córdoba el usuario deberá darse de alta y proporcionar previamente los datos de carácter personal según la información específica que consta en cada tipo de alta.
    </p>

    <h2><a id="informacion_basica"></a>Información básica sobre protección de datos</h2>
    <p>
      A continuación le informamos sobre la política de protección de datos del Portal de Participación Ciudadana del Ayuntamiento de Córdoba.
    </p>

    <h2><a id="responsable_tratamiento"></a>Responsable del tratamiento</h2>
    <p>
      Los datos de carácter personal que se pudieran recabar en este Portal directamente del interesado serán tratados de forma confidencial y quedarán incorporados a la correspondiente actividad de tratamiento titularidad del Ayuntamiento de Córdoba, con domicilio en Calle Capitulares, 1; DP.: 14071 de Córdoba, teléfono 957 499 900.
    </p>
    <p>
      La dirección de correo electrónico de nuestro Delegado de Protección de Datos: <a href="mailto:delegadodeprotecciondedatos@cordoba.es">delegadodeprotecciondedatos@cordoba.es</a>.
    </p>

    <h2><a id="identificacion_tratamiento"></a>Identificación de la actividad de tratamiento</h2>
    <p>
      Gestión de Procesos Participativos.
    </p>

    <h2><a id="finalidad"></a>Finalidad</h2>
    <p>
      Gestión de los datos personales que se tratan en los procesos participativos para el control de la habilitación de las personas que participan en los mismos y recuento meramente numérico y estadístico de los resultados derivados de los procesos de participación ciudadana. 
    </p>

    <h2><a id="base_juridica"></a>Base jurídica del tratamiento</h2>
    <p>
      La licitud del tratamiento está basada en el artículo 6.1e) del Reglamento General de Protección de Datos, al ser necesario para el cumplimiento de una misión realizada en interés público o en el ejercicio de poderes públicos conferidos al responsable del tratamiento. Ley 7/1885, de 2 de abril, Reguladora de las Bases del Régimen Local. Reglamento General de Protección de Datos.
    </p>

    <h2><a id="destinatarios_datos"></a>Destinatarios de los datos</h2>
    <p>
      Los datos de carácter personal recabados sólo serán objeto de cesión a terceros, en su caso, previo su consentimiento o por obligación legal prevista en la normativa aplicable.
    </p>

    <h2><a id="transferencias_internacionales"></a>Transferencias internacionales de datos</h2>
    <p>
      No están previstas transferencias internacionales de los datos de estos tratamientos.
    </p>

    <h2><a id="conservacion_datos"></a>Conservación de datos</h2>
    <p>
      Los datos personales proporcionados se conservarán mientras se desarrolle el proceso participativo del Ayuntamiento de Córdoba y siempre que no se solicite su supresión. Será de aplicación lo dispuesto en la normativa de archivos y documentación.
    </p>

    <h2><a id="derechos_interesados"></a>Derechos de los interesados</h2>
    <p>
      Cualquier persona tiene derecho a obtener confirmación sobre los tratamientos que de sus datos se llevan a cabo por el Ayuntamiento de Córdoba.
    </p>
    <p>
      Puede ejercer sus derechos de acceso, rectificación, supresión y portabilidad de sus datos, de limitación y oposición a su tratamiento, así como a no ser objeto de decisiones basadas únicamente en el tratamiento automatizado de sus datos, cuando procedan, ante el Ayuntamiento de Córdoba, C/ Capitulares, 1; DP.: 14071- Córdoba o en la dirección de correo electrónico <a href="mailto:delegadodeprotecciondedatos@cordoba.es">delegadodeprotecciondedatos@cordoba.es</a>. 
    </p>
    <p>      
      Así mismo, usted podrá en todo momento presentar queja o reclamación para el ejercicio de sus derechos ante la autoridad de control. 
    </p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

